.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #2d4059; 
}

.third-color { 
	background: #ff5722; 
}

.fourth-color { 
	background: #eeeeee; 
}

.container {
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2d4059;
}

.container form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 2rem;
    background-color: #222831;
    color: #eeeeee;
    padding: 2rem 3rem;
    width: 35rem;
}

.container form > h3 {
    position: absolute;
    background-color: #ff5722;
    color: #eeeeee;
    padding: 0.5rem 1rem;
    top: -1.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.container form > input{
    background-color: #ff5722;
    width: 95%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #eeeeee;
}

.container form label:nth-child(4) > input:hover, 
.container form label:nth-child(5) > input:hover{
    cursor: text;
}

.container form > input:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container form > *{
    margin: 0.5rem;
}

.container form label:nth-child(n + 3) *{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding-left: 1rem;
    height: 2rem;
    margin-top: 0.3rem;
    text-align: center;
    color: #2d4059;
    background: #eeeeee;
}

.container form label *:hover{
    cursor: pointer;
}

.fileImage > input{
    width: 100%;
    background: #ff5722;
    border-radius: 0.5rem;
}